
/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 13px 30px;
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  padding-left: 10px;
  padding-right:10px;
  text-align:center;
}

.column100.column1 {
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}




/*==================================================================
[ Ver2 ]*/
.table100.ver2 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver2 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

.table100.ver2 .row100:hover td {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-ver2 {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-head-ver2 {
  background-color: #484848 !important;
}

.table100.ver2 .row100 td:hover {
  background-color: #57b846;
  color: #fff;
}

/*==================================================================
[ Ver2 ]*/
.table100.ver2 tbody tr:nth-child(even) {
  background-color: #eaf8e6;
}

.table100.ver2 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver2 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

.table100.ver2 .row100:hover td {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-ver2 {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-head-ver2 {
  background-color: #484848 !important;
}

.table100.ver2 .row100 td:hover {
  background-color: #57b846;
  color: #fff;
}
.row100:target{
  animation: added 1.5s ease-in;
}
@keyframes added{
  30%{
    background:lightgreen;
  }
}


label{
  font-size:20px;
  margin-top:20px;
  margin-bottom:10px;
  display:block;
  font-weight:500;
}
input, select, text-area{
  width:90%;
  max-width:90%;
  height:40px!important;
  line-height:40px !important;
  border-radius:10px;
  border:solid silver 2px;
}
textarea{
  height:150px;
  width:90%;
}
.school-system-form{
  padding-left:5%;
}
.crud-btn{
  display:block;
  margin:20px auto !important;
  border-radius:5px;
  width:300px;
  height:50px;
  background:#21c083;
  border:none;
  color:#fff;
  font-weight:600;
  font-size:20px;
  cursor:pointer;
}
.crud-btn a{
  color:#fff;
}
.crud-btn:disabled{
  color:#ccc;
}
.edit-btn, .delete-btn{
  width:100px;
  height:30px;
  font-size:16px;
}
.delete-btn{
  background:#f21700;
}
a{
  text-decoration:none;
}